* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.header {
  background: blueviolet;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
}

.task-container {
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 20px;
  width: 50%;
  margin: 100px auto;
}

.add-task {
  width: 90%;
  margin: 10px auto;
}

.input-label,
.label {
  font-size: 16px;
  margin: 12px 0;
  display: block;
}

.label {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

.add-input input {
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid lightgray;
  padding-right: 20px;
}

.add-input {
  position: relative;
}

.btn {
  background: blueviolet;
  border: none;
  color: white;
  margin: 4px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.add-btn {
  position: absolute;
  right: 0;
}

.del-btn {
  font-size: 10px;
  padding: 4px 8px;
}

.btn:hover {
  background-color: rgb(138, 43, 226, 0.9);
}

.btn:active {
  background-color: rgb(138, 43, 226, 0.8);
}

.task-list {
  margin-top: 40px;
}

.task-box {
  width: 90%;
  margin: 10px auto;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task {
  margin-left: 12px;
}

input[type="checkbox"] {
  accent-color: blueviolet;
  cursor: pointer;
}

/* Media query for mobile devices */
@media only screen and (max-width: 500px) {
  .task-container {
    width: 90%;
  }
}

/* Media query for tablet devices */
@media only screen and (min-width: 501px) and (max-width: 991px) {
  .task-container {
    width: 70%;
  }
}
